p,
footer{
  font-family: Roboto serif; 
  color: #36454F;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

body{
  background-color: #FFB6C1;
  padding: 20px;
  border: 20px ridge #D3D3D3;
  margin: 0px;
}
.title{
  font-size: 45px;
  color: rgb(197, 88, 106);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 305px; 
}

.picture-box{
  box-shadow: 10 7 5px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 250px;
  display: inline-block;
  margin-left: 500px;
  border-style: solid; color: #36454F;
  margin-top: 20px;
  border-radius:  6px;      
}

.picture{
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.introduction{
  width: 1200px;
  font-size: 26px;
  line-height: 49px;
  font-weight: bold;
  color: #D3D3D3;
  background-color: rgb(197, 88, 106);
  padding: 20px 25px 20px 44px;
  border-radius: 20px;
  margin-top: 30px;  
}

.flower-text{
  text-align: center;
}

.flower-gif-box{
  width: 600px;
  height: 400px;
  margin-left: 350px;
}

.flower-gif{
  width: 600px;
  height: 400px;
}

.heart{
  text-align: center;
}    
